<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignment</title>

    <style>
        #tbl {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        #tbl td, #tbl th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        #tbl {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
        }
        #tbl tr:nth-child(even){background-color: #f2f2f2;}
        #tbl tr:hover {background-color: #ddd;}
        thead{
            background-color: #1dc400;
        }
        footer {
         position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: #808080;
          color: white;
          text-align: center;
        }
    </style>
</head>
<body>
<center>
    <h1>ALL POSITION LIST</h1>
    <table style="width:60%; border:4px solid black;" id="tbl" >
        <thead>
            <tr>
                <th>ID</th>
                <th>POSITION ID</th>
                <th>POSITION NAME</th>
                <th>DESCRIPTION</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tr th:block th:each="state: ${result}">
            <td th:text="${state.getId()}"></td>
            <td th:text="${state.getPositionID()}"></td>
            <td th:text="${state.getName()}"></td>
            <td th:text="${state.getDescription()}"></td>
            <td>
                <a href="#!">VIEW</a>&nbsp
                <a href="#!">EDIT</a>&nbsp
                <a href="#!">DELETE</a>&nbsp
            </td>
        </tr>
    </table>
</center>
<footer>
    <p>Author: Nou Phanith<br>
        <a href="nouphanith99@gmail.com">nouphanith99@gmail.com</a></p>
</footer>
</body>
</html>